$primaryBackgroundColor: #e6e6e6;
$secondaryBackgroundColor: #c2c2c2;
$toolbarBackgroundColor: #5493cf;
$defaultTextColor: #000;

$toolbarHeight: 45px;

$break-small: 320px;
$break-medium: 992px;
$break-large: 1200px;
