@import 'variables.scss';

.UserDetails {

  .avatarWrapper {
    overflow: hidden;
    .avatar {
      min-width: 100%;
      min-height: 205px;
    }
  }

  @media screen and (max-width: $break-medium) {
    .avatarWrapper {

      .avatar {
        display: block;
        margin: 0 auto 15px auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .control-label {
      display: none;
    }

    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

}
