@import 'variables.scss';

.UserDetails {

  .avatarWrapper {
    overflow: hidden;
    .avatar {
      min-width: 100%;
      min-height: 205px;
    }
  }

  @media screen and (max-width: $break-medium) {
    .avatarWrapper {
      height: 200px;

      .avatar {
        transform: translate(0, -50%);
        min-width: 100%;
        min-height: 100%;
      }
    }

    .control-label {
      display: none;
    }

    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

}
